# Python
tripgenie-502611-7f53fde637a0.json
.venv/
__pycache__/
*.pyc

# Environment
.env
.env.*

# Logs
*.log

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Python caches
.pytest_cache/
.mypy_cache/

# Build
dist/
build/

# Node (if frontend exists)
node_modules/