fastapi==0.116.1
uvicorn[standard]==0.35.0
SQLAlchemy==2.0.41
alembic==1.16.4
psycopg[binary]==3.2.9
pydantic==2.11.7
pydantic-settings==2.10.1
python-dotenv==1.1.1
gspread==6.2.1
google-auth==2.40.3
pytest==8.3.5
httpx==0.28.1
